@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #f1f4ee;
  --color-background-blue: #e6f5f6;
  --color-background-green: #eef7d5;
  --color-accent: #789d32;
  --color-button-hover-bg: #7a9841;
  --color-text-green: #344536;
  --color-text-grey: #545a51;
  --color-text-light: #ededed;
  --height-nav-button: 40px;
  --font-size-navigation: 12px;
}

@media (min-width: 640px) {
  :root {
    --height-nav-button: 44px;
    --font-size-navigation: 13px;
  }
}

body {
  color: var(--color-text-grey);
  background: white;
  @apply font-inter text-[14px] sm:text-[16px] md:text-[18px];
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-heading;
  @apply text-textGreen;
}

.h1-custom {
  @apply font-heading font-medium text-[38px] sm:text-[48px] md:text-[56px] leading-[120%] my-6;
}

.h2-custom {
  @apply font-heading text-[32px] sm:text-[32px] md:text-[40px] leading-[120%] my-6;
}

.h3-custom {
  @apply font-inter font-light text-[11px] sm:text-[16px] md:text-[16px] leading-[120%] uppercase my-4 text-textGrey;
}

.h4-custom {
  @apply font-heading font-bold text-[24px] my-2 sm:text-[24px] md:text-[28px] leading-[120%] text-textGreen;
}

.h5-custom {
  @apply font-heading font-semibold text-[18px] my-2 sm:text-[20px] md:text-[24px] leading-[120%] text-accent;
}

.p-custom {
  @apply font-inter text-[14px] sm:text-[16px] md:text-[16px] font-light leading-[150%];
}

.primary-btn {
  @apply font-inter font-light bg-accent text-white rounded-lg hover:bg-btnHoveredGreen hover:text-bgLight px-4 sm:px-6 py-2  text-[14px] sm:text-[16px];
}

.secondary-btn {
  @apply font-inter font-light border border-accent text-accent rounded-lg hover:bg-accent hover:text-bgLight px-4 sm:px-6 py-2  text-[14px] sm:text-[16px];
}

.link {
  @apply hover:text-accent cursor-pointer;
}
