@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #f1f4ee;
  --color-surface: #fff;
  --color-background-blue: #e6f5f6;
  --color-background-green: #eef7d5;
  --color-accent: #789d32;
  --color-button-hover-bg: #dfedce;
  --color-text-green: #344536;
  --color-text-grey: #545a51;
  --color-text-light: #ededed;
  --height-nav-button: 40px;
  --font-size-navigation: 12px;
}

@media (min-width: 640px) {
  :root {
    --height-nav-button: 44px;
    --font-size-navigation: 13px;
  }
}

body {
  color: var(--color-text-grey);
  background: var(--color-surface);
  @apply font-inter text-[14px] sm:text-[16px] md:text-[18px];
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-heading;
  @apply text-textGreen;
}

.h1-custom {
  @apply font-heading font-medium text-[36px] sm:text-[48px] md:text-[56px] leading-[120%] my-6;
}

.h2-custom {
  @apply font-heading text-[32px] sm:text-[32px] md:text-[40px] leading-[120%] my-6;
}

.h3-custom {
  @apply font-inter font-light uppercase my-4 text-textGrey text-[12px] md:text-sm lg:text-base;
}

.h4-custom {
  @apply font-heading text-[24px] my-2 sm:text-[24px] md:text-[28px] leading-[120%];
}

.h5-custom {
  @apply font-heading font-semibold text-[18px] my-2 sm:text-[20px] md:text-[24px] leading-[120%] text-accent;
}

.p-custom {
  @apply font-inter font-light text-sm sm:text-sm md:text-base;
}

.btn {
  @apply font-inter font-light rounded-2xl p-3 sm:px-6 text-[14px] md:text-[16px];
}

.btn-hover {
  @apply hover:bg-btnHoveredGreen hover:text-accent hover:border-accent;
}

.primary {
  @apply bg-accent text-white border border-accent;
}

.secondary {
  @apply border border-accent text-accent;
}

.primary-btn {
  @apply font-inter font-light bg-accent text-white rounded-2xl hover:bg-white hover:text-accent p-3 sm:px-6   text-[14px] sm:text-[16px];
}

.secondary-btn {
  @apply font-inter font-light border border-accent text-accent rounded-2xl hover:bg-accent hover:text-bgLight p-3 sm:px-6 text-[14px] sm:text-[16px];
}

.nav-link {
  @apply font-inter font-light text-textGreen text-sm hover:text-accent cursor-pointer;
}

.swiper-pagination {
  position: relative !important;
  margin-top: 18px; /* Adjust this value as needed */
}
